[submodule "modules/media-streamer"]
	path = modules/media-streamer
	url = https://github.com/mortie/mmpc-media-streamer.git
[submodule "modules/wallpaper"]
	path = modules/wallpaper
	url = https://github.com/mortie/mmpc-wallpaper.git
